:root {
    --strong-black: #37474f;
    --light-black: #62727b;
    --double-light-black: #c1d5e0;
    --width: 360px; /* 모바일이든 pc든 360으로 고정. 갤럭시 기준으로 괜찮은지 체크 함 해보자 */
    --bg-color: #e5e5e5;
    --left-margin: 10%;
}
#root,
html,
body {
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    color: black;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

@font-face {
    font-family: "BMJUA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.line {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
}

.empty {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
