.title {
    margin: 7% auto 7% auto;

    font-style: normal;
    font-weight: 900;
    font-size: 20px;

    text-align: center;

    color: #000000;
}

.description {
    margin: 3% 6% 1% 6%;
    height: 16px;

    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    color: #000000;
}

.duration {
    margin: 1% 6% 3% 6%;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    color: #9b9b9b;
}

.th-wrap {
    margin: 0% var(--left-margin) 3% var(--left-margin);
}

.th-line-wrap {
    display: flex;
    justify-content: space-between;
    height: 13px;
    text-align: center;
}

.th-line {
    width: 30%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.th-content {
    width: 30%;
    margin: 6px 0px 0px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}

/* 주식 컨텐츠 */

.stock-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.stock-index-wrap {
    height: 45px;
    width: var(--left-margin);
    font-weight: bold;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-content-wrap-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    width: calc(100% - var(--left-margin));

    border-bottom: 0.1px dotted #c4c4c4;
}
.stock-content-wrap {
    display: flex;
    justify-content: space-between;

    margin: 0% var(--left-margin) 0% 0%;
}

.stock-sector,
.stock-name {
    width: 30%;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.stock-value {
    width: 30%;
    font-size: 14px;
    text-align: right;
}

.stock-value {
    width: 30%;
    font-size: 14px;
    text-align: right;
}

.sub {
    font-size: 10px;
    color: #9b9b9b;
}

.percent {
    background-color: #def9f1;
}
.percent-arrow {
    color: #61c799;
}

.per {
    background-color: #fdf5f5;
}

.pick-1,
.price-1 {
    background-color: #f3fbf9;
}

.pick-2,
.price-2 {
    background-color: #def8ef;
}

.pick-3,
.price-3 {
    background-color: #bbf0de;
}

.up {
    color: #60cb98;
}

a {
    color: black;
    text-decoration: none;
}
